.logo {
    width: 228px;
    height: 32px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }
  
  .logo:hover {
    opacity: .5;
  }
