.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    z-index: 6;
    color: #2f80ed;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    font-weight: normal;
  }

  .feynman__link:hover {
    opacity: .5;
  }
  